@media screen and (max-width:768px) {
	.wrap {
		clear: both;
	}
	.sidebar {
		float: right;
		width: 100%;
		height: 300px;
		display: none;
	}
	.content {
		float: left;
		width: 100%;
		display: block;
	}
	h1 {
		font-size: 1.5em;
	}
	p {
		font-size: 1em;
	}
	.navbar {
		background-color: #3498db;
	}

		.navbar ul {
			padding: 10px;
			margin: 0;
			overflow: hidden;
		}

		.navbar ul li {
			display: block;
			list-style-type: none;
			padding: 10px;
			color: white;
			margin: 2px;
		}

		.navbar ul li:hover {
			background-color: #2980b9;
			color: white;
		}

		.navbar ul li a:active {
			color: white;
		}
		.navbar ul li a:hover {
			color: white;
		}
		.navbar ul li a {
			color: black;
			text-decoration: none;
		}
}

@media screen and (min-width:768px) {
	.sidebar {
		background-color: black;
		clear: both;
		width: 300px;
	}
	.navbar {
		background-color:#3498db;
	}

		.navbar ul {
			padding: 10px;
			margin: 0;
			overflow: hidden;
		}

		.navbar ul li {
			display: inline;
			list-style-type: none;
			padding: 10px;
			color: white;
		}

		.navbar ul li:hover {
			background-color: #2980b9;
			color: white;
		}

		.navbar ul li a:active {
			color: white;
		}
		.navbar ul li a:hover {
			color: white;
		}
		.navbar ul li a {
			color: black;
			text-decoration: none;
		}

}

.wrap {
	width: 100%;
	margin: 0 auto;
}

h1, p, li {
	text-align: center;
	color: white;
	margin: 0;
	padding: 0;
}

.header {
	background-color: black;
	height: 100px;
}


.sidebar {
	background-color: #2980b9;
	float: left;
	clear: both;
	height: 500px;
}
.content {
	background-color:  #ecf0f1;
	height: 500px;
}
.content h1 {
	color: black;
}

.footer {
	background-color: black;
	height: 50px;
	clear: both;
}
