.wrap {
	margin: 0 auto;
	width: 100%;
}

h1, p, li {
	color: #ffffff;
	padding: 0;
	margin: 0;
	text-align: center;
}

.header {
	background-color: #000000;
	height: 100px;
}

.navbar {
	background-color: #3498db;
}
	.navbar ul {
		margin: 0;
		padding: 10px;
	}
	.navbar li {
		display: inline;
		list-style-type: none;
		padding: 10px;
		color: #ffffff;
		margin: 2px;
	}
	.navbar ul li:hover {
		background-color: #2980b9;
	}
	.navbar ul li a {
		color: #000000;
		text-decoration: none;
	}
	.navbar ul li a:hover {
		color: #ffffff;
	}

.sidebar {
	background-color: #2980b9;
	float: left;
	height: 500px;
	width: 30%;
}

.content {
	background-color: #ecf0f1;
	height: 500px;
}

	.content h1 {
		color: #000000;
	}

.footer {
	background-color: #000000;
	height: 50px;
	clear: both;
}

/*ukuran dibawah 768px*/

@media screen and (max-width:768px) {
	.sidebar {
		display: none;
	}
	h1 {
		font-size: 1.5em;
	}
	p {
		font-size: 1em;
	}
	.navbar li {
		display: block;
	}
}
